.h1Title {
  text-align: center;
  color: #fffffe;
}

.searchDiv {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: #fffffe;
}

.binemonDiv {
  border-radius: 4px;
  background-color: #fffffe;
  color: #0f0e17;
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 30px;
  animation: slide 1.5s;
}

.monApresentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsList {
  list-style: none;
}

.skillsItem {
  padding: 10px 5px;
  margin: 10px 0;
  border-radius: 4px;
  background-color: #ff8906;
  color: #fffffe;
}

@keyframes slide {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 25%;
  }
}