.h1Title {
  text-align: center;
  color: #fffffe;
}

.binemonApp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  color: #fffffe;
  width: 10%;
}

.binSearchInput {
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
}

.binSearchButton {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #fffffe;
  background-color: #ff8906;
}

.onTopBinDiv {
  display: flex;
  align-items: center;
  width: 100%;
}

.binemonDiv {
  border-radius: 4px;
  background-color: #fffffe;
  color: #0f0e17;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 30px;
  animation: slide 1.5s;
}

.monApresentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 272px;
  /* border: 1px solid green; */
}

.binInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 272px;
  width: 30%;
  /* border: 1px solid blue; */
}

.skillsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 272px;
  width: 30%;
  /* border: 1px solid red; */
}

.skillsList {
  list-style: none;
}

.skillsItem {
  padding: 10px 5px;
  margin: 10px 0;
  border-radius: 4px;
  background-color: #ff8906;
  color: #fffffe;
}

@keyframes slide {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 25%;
  }
}

.hr {
  width: 100%;
  border: 1px solid #0f0e17;
}

.binAtbDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.binAtbs {
  display: flex;
}

.binAtbItem {
  border: 1px solid #0f0e17;
  border-radius: 4px;
  margin: 2px;
  padding: 10px;
  text-align: center;
}

.binemonImg {
  width: 150px;
}