.homeContainer {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.homeHeadingTitle {
  color: #fffffe;
  width: 25ch;
  animation: typing 2s steps(22);
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 3em;
}
@keyframes typing {
  from {
    width: 0;
  }
}
.homeHeading {
  color: #fffffe;
  width: 24ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
}
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.homeSubContainer {
  background-color: #242629;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
  -webkit-box-shadow: 6px 3px 12px -6px #242629; 
  box-shadow: 6px 3px 12px -6px #242629;
}

.homeIcons {
  margin: 10px;
  font-size: 70px;
}

.homeHeadingSubTitle {
  color: #fffffe;
  font-size: 1.5em;
  font-family: monospace;
}

.homeDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.homeProfilePic {
  border-radius: 10%;
  border: 1px solid #010101;
  width: 300px;
}

.homeParagraph {
  color: #94a1b2;
  font-family: monospace;
  font-size: 1.8em;
  line-height: 40px;
}

.homeButton {
  font-family: monospace;
  color: #fffffe;
  background-color: #7f5af0;
  border: 1px solid #7f5af0;
  font-size: 1.3em;
  padding: 15px 40px;
  margin: 10px 0;
}

.homeButton:hover {
  background-color: #7f5af0d7;
}

@media screen and (max-width: 1280px) {
  .homeProfilePic {
    width: 200px;
  }

  .homeParagraph {
    font-size: 1.3em;
    line-height: 30px;
  }

  .homeButton {
    font-size: 1em;
    padding: 10px 30px;
    margin: 5px 0;
  }
}

@media screen and (max-width: 1180px) {
  .homeContainer {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }

  .homeHeadingTitle {
    font-size: 1.8em;
  }
  .homeHeading {
    font-size: 1.8em;
  }

  .homeSubContainer {
    padding: 10px;
    margin: 20px 0;
  }

  .homeIcons {
    margin: 5px;
    font-size: 40px;
  }
}

