.projectsPageContainer {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.projectsTitleContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0px 30px;
}

.projectsHeadingTitle {
  color: #fffffe;
  width: 23ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
}
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.projectsContainer {
  border: 1px solid #242629;
  border-radius: 4px;
  -webkit-box-shadow: 6px 3px 12px -6px #242629; 
  box-shadow: 6px 3px 12px -6px #242629;
  width: 50%;
  height: 70%;
  margin: 0px 30px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.projectItemContainer {
  width: 90%;
  padding: 20px;
  background-color: #242629;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  -webkit-box-shadow: 6px 3px 12px -6px #242629; 
  box-shadow: 6px 3px 12px -6px #242629;

}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #16161a;
}

::-webkit-scrollbar-thumb {
  background: #242629;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a1b260; 
}

::-webkit-scrollbar-thumb:active {
  background: #94a1b2; 
}

.projectItemDescription {
  margin: 0px 50px;
}

.projectItemTitle {
  font-family: monospace;
  color: #fffffe;
  font-size: 1.8em;
}

.projectItemText {
  font-family: monospace;
  color: #94a1b2;
  font-size: 1.3em;
  text-align: justify;
}

.projectItemButton {
  font-family: monospace;
  color: #fffffe;
  background-color: #7f5af0;
  border: 1px solid #7f5af0;
  font-size: 1.3em;
  padding: 10px 20px;
  margin: 10px 0;
}

.projectItemButton:hover {
  background-color: #7f5af0d7;
}

.projectItemButtonsContainer {
  display: flex;
  align-items: center;
}

.projectsIcons {
  margin: 0 15px;
}
